<%- include ('../../partials/header.ejs')  %>

<div class="container my-container my-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body">
                <h4 class="mb-3">Create A New Account</h4>
                <form action="/auth/signup" method="POST">

                    <div class="form-group">
                        <label for="username">
                            Enter Your username (Must Be Uniq)
                        </label>
                        <input type="text" name="username" id="username" placeholder="username" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="email">
                            Enter Your Valid Email
                        </label>
                        <input type="email" name="email" id="email" placeholder="email" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="password">
                            Enter Your Password (Strong)
                        </label>
                        <input type="password" name="password" id="password" placeholder="password"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">
                            Enter Confirm Password
                        </label>
                        <input type="password" name="confirmPassword" id="confirmPassword"
                            placeholder="Confirm Password" class="form-control">
                    </div>

                    <input type="submit" class="btn btn-primary" value="Signup">
                </form>
                <a href="/auth/login" class="my-3 text-center">Already Have An Account? Login Here</a>
            </div>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')  %>


</body>

</html>