<%- include ('../../partials/header.ejs')  %>

<div class="container my-container">
    <div class="jumbotron">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, ipsam.</h1>

        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum ea obcaecati labore itaque odit
            ullam eveniet sequi dolore dolor sint aut, saepe amet blanditiis autem debitis voluptas quod numquam
            voluptatem!</p>
    </div>
</div>

<%- include ('../../partials/footer.ejs')  %>


</body>

</html>