<%- include ('../../partials/header.ejs', {title: 'Internal Server Error'})  %>

<div class="main-wrapper">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <h1 class="display-4 text-center">500 INTERNAL SERVER ERROR</h1>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')  %>


</body>

</html>