<%- include ('../../partials/header.ejs')  %>

<div class="main-wrapper">
    <div class="container h-100">
        <div class="row">
            <h1 class="display-1 text-center">Welcome to your dashboard</h1>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs')  %>


</body>

</html>